
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

#container {
    background-color: hsl(212, 45%, 89%);
    height: 920px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#white-container {
    background-color: white;
    width: 350px;
    height: 550px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

#upper-content {
    height: 400px;
   margin: 20px; 
   border-radius: 10px;
}

#upper-content img {
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Matches the white-container's rounded corners */
}

#lower-content {
    height: 180px;
    margin: 10px;
    text-align: center;
    margin-top: -10px;
}

#lower-content h2 {
    color: hsl(218, 44%, 22%);
    margin-top: 0px;
}
#lower-content p {
    color: hsl(216, 15%, 48%);
}

@media (min-width: 1440px) {
    #container {
        height: 100vh;
    }

    #white-container {
        width: 300px;
        height: 470px;
    }

    #upper-content {
        height: 270px;
        margin: 15px; /* Moves the border outside the white-container */

    }
    #upper-content img {
    border-radius: 15px; /* Matches the white-container's rounded corners */
}

    #lower-content {
        height: 125px;
        margin: 10px;
    }
    #lower-content p {
    font-size: 14px;
}
}